/* Float Classes */

.float-right{
    float: right;
}

.float-left{
    float: left;
}

.float-none{
    float: none;
}

/* Margin Classes */

.margin-5{
    margin-bottom: 5px;
}

.margin-5-t{
    margin-top: 5px;
}

.margin-5-r{
    margin-right: 5px;
}

.margin-5-l{
    margin-left: 5px;
}

.margin-10{
    margin-bottom: 10px;
}

.margin-10-t{
    margin-top: 10px;
}

.margin-10-r{
    margin-right: 10px;
}

.margin-10-l{
    margin-left: 10px;
}

.margin-15{
    margin-bottom: 15px;
}

.margin-15-t{
    margin-top: 15px;
}

.margin-15-r{
    margin-right: 15px;
}

.margin-15-l{
    margin-left: 15px;
}

.margin-20{
    margin-bottom: 20px;
}

.margin-20-t{
    margin-top: 20px;
}

.margin-20-r{
    margin-right: 20px;
}

.margin-20-l{
    margin-left: 20px;
}

/* Padding Classes */

.padding-5{
    padding-bottom: 5px;
}

.padding-5-t{
    padding-top: 5px;
}

.padding-5-r{
    padding-right: 5px;
}

.padding-5-l{
    padding-left: 5px;
}

.padding-10{
    padding-bottom: 10px;
}

.padding-10-t{
    padding-top: 10px;
}

.padding-10-r{
    padding-right: 10px;
}

.padding-10-l{
    padding-left: 10px;
}

.padding-15{
    padding-bottom: 15px;
}

.padding-15-t{
    padding-top: 15px;
}

.padding-15-r{
    padding-right: 15px;
}

.padding-15-l{
    padding-left: 15px;
}

.padding-20{
    padding-bottom: 20px;
}

.padding-20-t{
    padding-top: 20px;
}

.padding-20-r{
    padding-right: 20px;
}

.padding-20-l{
    padding-left: 20px;
}

/* Text Classes */

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.text-justify{
    text-align: justify;
}

.text-bold{
    font-weight: bold;
}

.text-normal{
    font-weight: normal;
}

.text-italic{
    font-style: italic;
}

.text-underline{
    text-decoration: underline;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-lowercase{
    text-transform: lowercase;
}

.text-small-caps{
    font-variant: small-caps;
}

.text-simple{
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

/* No- Classes */

.no-float{
    float: none;
}

.no-padding{
    padding: 0px;
}

.no-v-padding{
    padding-top: 0px;
    padding-bottom: 0px;
}

.no-h-padding{
    padding-right: 0px;
    padding-left: 0px;
}

.no-padding-t{
    padding-top: 0px;
}

.no-padding-b{
    padding-bottom: 0px;
}

.no-padding-r{
    padding-right: 0px;
}

.no-padding-l{
    padding-left: 0px;
}

.no-margin{
    margin: 0px;
}

.no-v-margin{
    margin-top: 0px;
    margin-bottom: 0px;
}

.no-h-margin{
    margin-right: 0px;
    margin-left: 0px;
}

.no-margin-t{
    margin-top: 0px;
}

.no-margin-b{
    margin-bottom: 0px;
}

.no-margin-r{
    margin-right: 0px;
}

.no-margin-l{
    margin-left: 0px;
}

.no-border{
    border: 0px;
}

.no-v-border{
    border-top: 0px;
    border-bottom: 0px;
}

.no-h-border{
    border-right: 0px;
    border-left: 0px;
}

.no-border-t{
    border-top: 0px;
}

.no-border-b{
    border-bottom: 0px;
}

.no-border-r{
    border-right: 0px;
}

.no-border-l{
    border-left: 0px;
}

.no-display{
    display: none;
}

/* List Classes */

.list-no-style{
    list-style-type: none;
}

.list-circle{
    list-style-type: circle;
}

.list-square{
    list-style-type: square;
}

.list-disc{
    list-style-type: disc;
}

/* Display Classes */

.display-block{
    display: block;
}

.display-inline-block{
    display: inline-block
}

.display-inline{
    display: inline;
}